@inherits LayoutComponentBase

@using DataManagers;
@inject IUserController UserController
@using Controller;

<PageTitle>FinTrac</PageTitle>

<div class="page">

    @if (userDTO != null)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>
    }


    <main>
        <div class="d-flex align-items-end justify-content-end pb-4">
            <button type="button" class="btn btn-outline-dark" onclick="@(() => NavigationManager.NavigateTo("/"))"> Log Out </button>

        </div>

        <article class="content px-4">

            <CascadingValue Value="event_userConnected">
                <CascadingValue Value="userDTO">
                    @Body
                </CascadingValue>
            </CascadingValue>


        </article>


    </main>
</div>

@code {
    public bool menuFlag { get; set; } = true;
    public UserDTO userDTO { get; set; }

    EventCallback<UserDTO> event_userConnected => EventCallback.Factory.Create(this, (Action<UserDTO>)NotifyLayoutWithUser);

    private void NotifyLayoutWithUser(UserDTO userDTOGiven)
    {
        userDTO = userDTOGiven;
        
        if (userDTOGiven != null && userDTOGiven.Email == "")
        {
            menuFlag = userDTO.flag == 1 ? true : false;
        }
    }
    
}