@inherits LayoutComponentBase


@using DataManagers;
@using Data;
@inject IUserController UserController
@using DataManagers.IControllers

@inject UserLogged UserLogged;

<PageTitle>FinTrac</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="d-flex align-items-end justify-content-end pb-4">
            <button type="button" class="btn btn-outline-danger" onclick="@(() => NavigationManager.NavigateTo("/"))">Log Out</button>

        </div>

        <article class="content px-4">
            <CascadingValue Value="userConnected">
                @Body
            </CascadingValue>

        </article>


    </main>
</div>

@code{


    public UserDTO userConnected { get; set; }
    

    protected override void OnInitialized()
    {
        userConnected = UserController.ToDtoUser(UserController.FindUser(UserLogged.Email));
        userConnected.UserId = UserLogged.UserId;
    }

}