
@page "/Category/{categoryId:int}/Edit"
@using BusinessLogic.Category_Components;


<h3>CategoryEdit</h3>


<form>
    <div class="form-group">
        <label for="title">Título</label>
        <input type="text" class="form-control" id="title" @bind="name" />
    </div>
    <br />
    <div>

        <label for="Status">Status</label>
        <select class="form-select" aria-label="Default select example" @bind="status">

            <option value="@StatusEnum.Enabled">@StatusEnum.Enabled</option>
            <option value="@StatusEnum.Disabled">@StatusEnum.Disabled</option>
         </select>
    </div>

    <button type="button" class="btn btn-primary" @onclick="SaveChanges">Guardar cambios</button>
    <a href="/Category">Cancelar</a>
</form>



@code 
{

    [Parameter]
    public int categoryId { get; set; }

    [CascadingParameter]
    public User mainUser { get; set; }


    private string name;
    private StatusEnum status;
    private Category categoryToEdit;
    private Category categoryUpdated;

    protected override void OnInitialized()
    {
        categoryToEdit = mainUser.MyCategories[categoryId];
        name = categoryToEdit.Name;
        status = categoryToEdit.Status;
    }

    public void SaveChanges()
    {
        categoryUpdated = new Category(name,status,categoryToEdit.Type);
        categoryUpdated.CategoryId = categoryToEdit.CategoryId;

        mainUser.ModifyCategory(categoryUpdated);
    }
}
