@page "/pie/{monthSelected:int}"

@inject IReportController ReportController;

@inject IJSRuntime JSRuntime

<main>
    <html>
    <head>
        <script suppress-error="BL9992" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>
</html>
</main>


@code {
    [Parameter]
    public MonthsEnumDTO monthSelected { get; set; }

    [CascadingParameter]
    public UserDTO UserConnected { get; set; }

    private List<ResumeOfCategoryReportDTO> reportsOfEachCategory;


    protected override async Task OnInitializedAsync()
    {
        // Asynchronous method to get the data before rendering
        reportsOfEachCategory = ReportController.GiveAllSpendingsPerCategoryDetailed(UserConnected, monthSelected);
        // Inform Blazor that the state has changed
        StateHasChanged();
    }

    // Method to invoke JavaScript code after rendering
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && reportsOfEachCategory != null)
        {
            await JSRuntime.InvokeAsync<object>("initializeChart", reportsOfEachCategory);
        }
    }
}

<td>
    <button class="btn btn-success btn-sm" onclick="@(() => NavigationManager.NavigateTo($"/Report/MonthlySpentOnCategory"))"> Go Back</button>
</td>


<script suppress-error="BL9992">

    function initializeChart(reportsOfEachCategory) {
        var ctx = document.getElementById("myChart");

        var totalSpentData = reportsOfEachCategory.map(function (item) {
            return item.totalSpentInCategory;
        });

        var labels = reportsOfEachCategory.map(function (item) {
            return item.categoryRelated.name + " " + Math.round(item.percentajeOfTotal).toString() + "%";
        });

        myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Spent on each category per month",
                        data: totalSpentData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'REPORT OF MONTHLY SPENDINGS ON CATEGORIES'
                    }
                }
            },
        });
    }

</script>