@page "/Report/MonetaryBalance"
@using BusinessLogic.Report_Components;
@using BusinessLogic.Account_Components;

<h3>Monetary Balance</h3>


<select class="form-select" aria-label="select example" @bind="monetaryId">

    @foreach (var accountToReport in Accounts)
    {
        if (accountToReport is MonetaryAccount)
        {
            MonetaryAccount monetaryAcc = accountToReport as MonetaryAccount;
            <option value="@monetaryAcc.AccountId">@monetaryAcc.Name</option>
        }
    }
</select>

<br />
<br />

<button type="button" class="btn btn-primary" @onclick="ShowBalance">Show Balance</button>


<input type="number" class="form-control" id="Name" @bind="accountBalance" />

<br />
<br />
<br>
<td>
    <button class="btn btn-success btn-sm" onclick="@(() => NavigationManager.NavigateTo($"/Reports"))"> Go Back</button>
</td>



@code
{

    [CascadingParameter]
    public User user { get; set; }

    private int monetaryId;
    private decimal accountBalance;
    private List<Account> Accounts;

    protected override void OnInitialized()
    {
        Accounts = user.GetAccounts();

    }

    private void ShowBalance()
    {
        accountBalance = Report.GiveAccountBalance((MonetaryAccount)user.MyAccounts[monetaryId]);
    }

}
