@page "/Modify";

@using BusinessLogic.User_Components;
@using DataManagers.UserManager;

@inject NavigationManager NavigationManager;
@inject UserManagement UserManagement;


<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" @value ="user.FirstName" @bind = "@firstName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" @value ="user.LastName" @bind="@lastName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Password:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" @value ="user.Password" @bind="@password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Address:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" @value ="user.Address" @bind="@address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" class="btn btn-primary" value="Save Changes" @onclick = "ModifyUser">
                        <span></span>
                        <input type="button" class="btn btn-default" value="Cancel" @onclick = "presetValues">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>



@code 
{
    private string firstName;
    private string lastName;
    private string password;
    private string address;


    protected override void OnInitialized()
    {
        presetValues();
    }

    private void presetValues()
    {



    }

    private void ModifyUser()
    {

        // User user = new User(firstName, lastName,email, password,address);

        // UserManagement.ModifyUser(user,userToModify);
        
    }

}
