@page "/Accounts/{accountId:int}/ModifyMonetary"

@inject IMonetaryAccount MonetaryController;

<h3>Monetary Modification</h3>

<br />
@if (ErrorAlert.isError)
{
    <ErrorAlert errorTxt="@errorTxt" />
}

<form>
    <div class="form-group">
        <label for="title">Título</label>
        <input type="text" class="form-control" id="title" @bind="name" />
    </div>
    <br />
    <div>
        <button type="button" class="btn btn-primary" @onclick="SaveChanges">Guardar cambios</button>
        <a href="/Accounts">Cancelar</a>
    </div>
</form>

@if (SuccesAlert.IsSucess)
{
    <SuccesAlert errorTxt="Monetary account edited successfully" />
}

@code
{

    private string name;

    [CascadingParameter]
    public UserDTO UserConnected { get; set; }

    [Parameter]
    public int accountId { get; set; }

    public string errorTxt{ get; set; }

    private MonetaryAccountDTO accountToUpdate;
    private MonetaryAccountDTO accountUpdated;

    protected override void OnInitialized()
    {
        accountToUpdate = MonetaryController.FindMonetaryAccount(accountId, UserConnected.UserId);
        name = accountToUpdate.Name;
        ErrorAlert.isError = false;
        SuccesAlert.IsSucess = false;
    }

    private void SaveChanges()
    {
        try
        {
            accountUpdated = new MonetaryAccountDTO(name, accountToUpdate.Amount, accountToUpdate.Currency, accountToUpdate.CreationDate, UserConnected.UserId);
            accountUpdated.AccountId = accountId;

            MonetaryController.UpdateMonetaryAccount(accountUpdated);
            NavigationManager.NavigateTo("/Accounts");
        }
        catch(Exception ExceptionAccount)
        {
            errorTxt = ExceptionAccount.Message;
            ErrorAlert.ShowErrorAlert();
        }

    }



}
